.App {
  font-family: sans-serif;
  text-align: center;
}
button {
  cursor: pointer;
  background: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 0.5rem 0.3rem;
}
button:hover {
  background-color: black;
  color: white;
}
li {
  list-style: none;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
}
li:hover {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}
